body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #292929;
    overflow: hidden;
}
.maze-container  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(11, 11, 12);
    text-align: center;
    justify-content: space-between;
}
.row {
    display: flex;
    box-sizing: border-box;
    height: 100%
}
.row:first-of-type .cell {
    border-top-width: 2px;
}
.row:last-of-type .cell{
    border-bottom-width: 2px;
}

.cell {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.cell:first-of-type {
    border-left-width: 2px;
}
.cell:last-of-type {
    border-right-width: 2px;
}

.first {
    border-left-color: transparent !important;
}
.last {
    border-right-color: transparent !important;
}

.--path {
    background: rgb(125 197 124);
}

.--settled {
    background: rgb(94 94 94);
}

.--head {
    background: white;
    box-shadow: 0 0 12px 2px white;
}

.--bordered {
    border: 1px solid black;
}

.--thread {
    position: relative
}

.--thread::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: red;
}
.candidate {
    background: rgb(190, 30, 30);
}

[side~=left] {
    border-left-color: transparent;
}
[side~=right] {
    border-right-color: transparent;
}
[side~=top] {
    border-top-color: transparent;
}
[side~=bottom] {
    border-bottom-color: transparent;
}

.thread {
    width: 100%;
    height: 2px;
    background: #cb2d2d;
}