body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #292929;
    overflow: hidden;
}
.maze-container  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(11, 11, 12);
    text-align: center;
    justify-content: space-between;
}
.row {
    display: flex;
    box-sizing: border-box;
    height: 100%
}
.row:first-of-type .cell {
    border-top-width: 2px;
}
.row:last-of-type .cell{
    border-bottom-width: 2px;
}

.cell {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.cell:first-of-type {
    border-left-width: 2px;
}
.cell:last-of-type {
    border-right-width: 2px;
}

.first {
    border-left-color: transparent !important;
}
.last {
    border-right-color: transparent !important;
}

.--visited {
    background: rgb(94 94 94);
}
.--visited-pathfind{
    background: rgb(54, 54, 54);
}
.--path {
    background: hsl(120, 40%, 65%);
}
.--pathfind {
    background: hsl(190, 85%, 50%);
}
.--head {
    background: white;
    box-shadow: 0 0 12px 2px white;
}

.--bordered {
    border: 1px solid black;
}
[data-side~=left] {
    border-left-color: transparent;
}
[data-side~=right] {
    border-right-color: transparent;
}
[data-side~=top] {
    border-top-color: transparent;
}
[data-side~=bottom] {
    border-bottom-color: transparent;
}
.candidate {
    background: rgb(190, 30, 30);
}